@import "tailwindcss";

@font-face {
    font-family: 'MoonWalk';
    src: url('/src/assets/fonts/MoonWalk.ttf') format('truetype'); /* or .otf if you prefer */
    font-weight: normal;
    font-style: normal;
  }

/* body{
  background-image: linear-gradient(to bottom left,#000000,#1f0230,#162456,#162456,#1f0230,#000000);
} */
/* bg-gradient-to-bl from-black via-[#1f0230] to-blue-950 */
.my-masonry-grid {
  display: flex;
  margin-left: -1rem; 
  width: auto;
}
.my-masonry-grid_column {
  padding-left: 1.4rem; 
  background-clip: padding-box;
}

.my-masonry-grid_column > div {
  margin-bottom: 1.4rem;
}
