@import "tailwindcss";

@font-face {
    font-family: 'MoonWalk';
    src: url('/src/assets/fonts/MoonWalk.ttf') format('truetype'); /* or .otf if you prefer */
    font-weight: normal;
    font-style: normal;
  }

body{
  background-image: linear-gradient(to bottom left,#000000,#1f0230,#162456,#162456,#1f0230,#000000);
}


/* bg-gradient-to-bl from-black via-[#1f0230] to-blue-950 */